.newest,
.anonymous {
    display: flex;
    max-width: 1200px;
    margin: 5rem auto;
    padding: 0 20px;
    align-items: center;
    gap: 4rem;
}

.anonymous-artist {
    background: linear-gradient(175deg, rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.05));
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid var(--main-color);
    border-top: 1px solid var(--main-color);
}

.newest-left,
.newest-right,
.anonymous-left,
.anonymous-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: -2rem;
    margin-bottom: 4rem;
    width: 100%;
}

.newest-left .title h2,
.anonymous-right .title h2 {
    color: var(--main-color);
    font-size: clamp(1.8rem, 3vw, 2.5rem);
    margin-bottom: 0.5rem;
}

.newest-left .title p,
.anonymous-left p {
    color: var(--text-color);
    font-size: 1.2rem;
}

.anonymous-left p {
    text-align: justify;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: linear-gradient(175deg, rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.05));
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    /* border: 2px solid rgba(255, 255, 255, 0.07); */
    overflow: hidden;
}

.lightmode table {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.lightmode table td,
.lightmode table th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

table td,
table th {
    padding: 15px 20px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.09);
}

table td {
    color: var(--text-color);
}

table th {
    color: var(--main-color);
    font-weight: 500;
}

table tr:last-child td,
table tr:last-child th {
    border-bottom: none;
}

table caption {
    text-align: left;
    color: var(--text-color);
    font-size: 0.95rem;
    margin-bottom: 10px;
}

table summary {
    cursor: pointer;
    color: var(--main-color);
    font-weight: 500;

    &:hover {
        text-decoration: underline;
        transform: scaleX(1.02);
        color: var(--text-color);
    }
}

.newest-right,
.anonymous-left {
    align-items: center;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

figure img {
    width: 100%;
    max-width: 300px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.landscape img {
    max-width: 550px;
}

figure img:hover {
    transform: scale(1.02);
}

figcaption {
    color: var(--text-color);
    font-size: 0.9rem;
    font-style: italic;
}

.gallery-section {
    max-width: 1200px;
    margin: 5rem auto;
    padding: 0 20px;
}

.gallery-section h2 {
    color: var(--main-color);
    font-size: clamp(1.8rem, 3vw, 2.5rem);
}

.gallery-title {
    text-align: center;
    margin-bottom: 3rem;
}

.film-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    justify-content: center;
}

.card {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    aspect-ratio: 2 / 3;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.card .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(3px);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    
    opacity: 0;
    transition: opacity 0.4s ease;
}

.card:hover .card-overlay {
    opacity: 1;
}

.card:hover img {
    transform: scale(1.05);
}

.card-overlay h3 {
    color: var(--video-text);
    font-size: 2rem;
    text-align: center;
    transform: translateY(20px);
    transition: transform 0.4s ease;
}

.card-overlay .btn {
    transform: translateY(20px);
    transition: transform 0.4s ease;
}

.card .card-overlay h3,
.card .card-overlay .btn {
    transform: translateY(0);
}

@media (max-width: 900px) {
    .newest,
    .anonymous {
        flex-direction: column;
        gap: 3rem;
    }
    .button {
        padding-bottom: 0;
    }
}