:root {
    --bg-lightmode: #e5e5e5;
    --text-lightmode: #222327;
    --main-lightmode: #7E7E7E;
}

.lightmode {
    background-color: var(--bg-lightmode);
    color: var(--main-lightmode);
    transition: all .50s ease;
}

.lightmode header .navbar li > a {
    color: var(--main-lightmode);
    &::before {
        content: ""; 
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 2px;
        left: 0;
        background-color: var(--text-lightmoder);
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s; 
        transition: all 0.3s ease-in-out 0s; 
    }

    &:hover {
        color: var(--text-lightmode);
        top: -15%;
        transition: all .50s ease-in-out 0s;
        &::before {
            filter: drop-shadow(0 0 .75rem var(--text-lightmode));
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
    }
}

.lightmode header .main a {
    color: var(--text-lightmode);
    &:hover {
        color: var(--text-lightmode);
    }
}

@media (max-width: 1090px){
    .lightmode header .main .lang-mob > i{
        color: var(--text-lightmode);
    }
}